.container {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #e73d3d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.numbers,
.operators,
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 5px;
}

button {
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e21e1e;
}

button:hover {
  background-color: #333;
  color: #fff;
}

input[type='text'] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#result {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
}
